/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/*margin: 0;
	padding: 0;
	border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset above */
 * {
	box-sizing:border-box;
	 /*put a border around everything to see where it stops and starts*/
    /* border:1px solid grey; */
	max-width: 100%;
	
}
.links  {
    width:70%;
    align-items:center;
    display:flex;
    justify-content:space-between;

}
.links a {
    color: black;
    text-decoration: none;
}

header nav {
    display: inline-block;
    background-image: url("/img/lambda-black.png");
    width:100%;
    top:0;
    align-items:center;
    height:10vh;
    display:flex;
    justify-content:space-between;
     margin-top:5%;
    background-repeat:no-repeat;
    background-position:center left;
}
#jumbo {
    background-image: url("/img/jumbo.jpg");
    width:100%;
    height:15vh;
    background-repeat:no-repeat;
    background-position:center;
}
#jumbo-about {
    background-image: url("/img/jumbo-about.png");
    width:100%;
    height:15vh;
    background-repeat:no-repeat;
    background-position:center;

}
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}



h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

/* About page gallery */
.learn-more-gallery {
    width:45%;
    padding: 2%; 

}

.learn-more-gallery div {
    width:100%;
    display: flex; 
} 


.learn-more-gallery .learn-more-links {
    border-bottom: 1px dashed black;
    margin-bottom: 20px;
}


.learn-more-links a {
    color: black;
    text-decoration: none; 
    border-radius: 10px;
    border:3px solid black;
    margin: 5px;
    padding: 1px;
}

#strategy, #how-we-work, #places-we-work, #collaboration {
    display: inline-block;
    justify-content: space-evenly;
   

}
/* home "Why Did It Have To Be Boxes */

.boxes {
    width:100%;
    padding: 2%; 
    justify-content: space-around;
}



.middle-content {
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap; 
}

.boxes div {
    width:15%;
    height:10vh;
    display: flex;
    justify-content:space-around;
    margin:2%;
}
.middle-content  .box {

    background: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#box1{
background-color: teal;

}
#box2{
    background-color: gold;
    
}
#box3{
   background-color : cadetblue;
  
}

#box4{
    background-color: coral;
    

}
#box5{
   background-color : crimson;
   
}

#box6{
   background-color : forestgreen;
  
}
#box7{
   background-color : darkorchid;
   
}
#box8{
   background-color : hotpink;
  

}
#box9{
   background-color : indigo;
  
}
#box10{
    background-color: dodgerblue;

}

/* That's No Moon */

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
